.product{
    border-bottom: 2px solid #deddde;
    border-top: 2px solid #deddde;
    /* width: calc(100% - 20px); */
    padding: 15px 20px;
    margin-bottom: 15px;
}


.details{
    
    color: #000;
    padding: 0 10px;
    display: inline-block;
    margin-right: 10px;
    
}

.removeIcon{
    border: none;
    color: #0000ff;
    font-size: 20px;
    background-color: inherit;
    margin-right: 10px;
}

.success{
    margin-left: 0 !important;
}

.number{
    background-color: #c70404;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.path{
    margin: 44px 0 72px 0;
}

.textShoping{
    width: 500px;
    margin: 0 auto 50px auto;
    font-size: 70px;
    font-weight: 600;
}

.imageProduct{
    background-color: #f5f4f2;
    border-radius: 20px;
}

.titleProduct{
    font-size: 23px;
    font-weight: 600;
    text-align: end;
}